/*** VALORES PREDETERMINADOS ***/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", serif;
}

.paragraph {
  font-size: 2rem;
  color: #7C6A0A;
}

.primary-tittle {
  font-size: 3rem;
  color: #7C6A0A;
}

.secondary-tittle {
  font-size: 2.4rem;
  color: #7C6A0A;
}

.tertiary-tittle {
  font-size: 2rem;
}

.orange {
  background-color: #FA9500;
  color: white;
}

/*** Aplicando BEM al NAVBAR ***/
.navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*** Pantallas MENORES a 650px ***/
}
.navbar .paragraph {
  padding-left: 80px;
}
.navbar .icons {
  display: flex;
  gap: 10px;
  padding-right: 80px;
}
.navbar .icons .button--styles {
  background: none;
  border-style: none;
}
.navbar .icons__main--inactive {
  display: none;
}
@media (max-width: 650px) {
  .navbar .paragraph {
    padding-left: 35px;
  }
  .navbar .icons {
    padding-right: 26px;
  }
  .navbar .icons__profile, .navbar .icons__wishlist, .navbar .icons__cart {
    display: none;
  }
  .navbar .icons__main--inactive {
    display: flex;
    justify-content: flex-end;
  }
}

/*** Aplicando BEM al ARTICLE = Impact ***/
.impact {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 80px;
  color: #7C6A0A;
  /*** Pantallas MENORES a 650px ***/
}
.impact .paragraph {
  text-align: justify;
}
.impact .impact__button {
  margin-top: 35px;
  padding: 12px 30px;
  border-style: none;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}
.impact .impact__image {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: flex-end;
}
.impact .impact__image--styles {
  width: 75%;
  height: auto;
  justify-self: end;
  border-radius: 24px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 650px) {
  .impact {
    padding: 0 35px;
    display: grid;
    grid-template-rows: repeat(2fr, 1fr);
    grid-template-columns: auto;
  }
  .impact .impact__image {
    grid-row: 1;
    justify-content: center;
  }
  .impact .impact__image--styles {
    width: 100%;
  }
  .impact .impact__section {
    grid-row: 2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .impact .impact__button {
    margin-top: 25px;
  }
}

.products-section {
  width: auto;
  height: auto;
  padding: 60px 80px 0;
}
@media (max-width: 720px) {
  .products-section {
    padding: 60px 35px 0;
  }
}
.products-section .secondary-tittle {
  font-weight: 400;
  padding-bottom: 24px;
}

.healtcare, .furniture {
  width: auto;
  height: auto;
}
.healtcare .card__section, .furniture .card__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
  row-gap: 50px;
  padding: 40px 0 80px 0;
}
@media (max-width: 950px) {
  .healtcare .card__section, .furniture .card__section {
    -moz-column-gap: 45px;
         column-gap: 45px;
    row-gap: 50px;
  }
}
@media (max-width: 800px) {
  .healtcare .card__section, .furniture .card__section {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
}
.healtcare .card__section .product, .furniture .card__section .product {
  width: 80%;
  height: auto;
  display: grid;
  padding: 20px;
  background-color: #FFDAC6;
  border-radius: 12px;
  color: #7C6A0A;
}
@media (max-width: 800px) {
  .healtcare .card__section .product, .furniture .card__section .product {
    width: 240px;
    height: auto;
  }
}
.healtcare .card__section .product .product__icon, .furniture .card__section .product .product__icon {
  width: auto;
  height: auto;
  justify-self: end;
  padding-right: 8px;
}
.healtcare .card__section .product .product__image, .furniture .card__section .product .product__image {
  width: 100%;
  height: 280px;
  margin-top: 10px;
  border-radius: 12px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 800px) {
  .healtcare .card__section .product .product__image, .furniture .card__section .product .product__image {
    width: 200px;
    height: 230px;
  }
}
.healtcare .card__section .product .paragraph, .furniture .card__section .product .paragraph {
  text-align: justify;
}
.healtcare .card__section::-webkit-scrollbar, .furniture .card__section::-webkit-scrollbar {
  display: none;
}

.furniture .card__section .product {
  background-color: #BABD8D;
  color: white;
}
.furniture .card__section .paragraph {
  font-size: 2rem;
  color: white;
}

.information {
  padding: 0 80px;
}
.information .secondary-tittle {
  font-weight: bold;
}

.aboutUs {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  margin: 50px 40px 80px;
}
.aboutUs .aboutUs__column {
  display: flex;
  align-items: center;
}
.aboutUs .aboutUs__column .aboutUs__image {
  width: auto;
  height: auto;
}
.aboutUs .aboutUs__column .paragraph {
  font-size: 2rem;
  color: #FA9500;
  font-weight: 600;
  text-align: center;
}
.aboutUs .aboutUs__column:first-child {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.aboutUs .aboutUs__column:first-child .paragraph {
  padding: 0 20px;
}/*# sourceMappingURL=main.css.map */