$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;

$font-stack: "IBM Plex Sans", serif;

body{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: 1.5rem;
        padding-left: 45px;
        font-weight: 500;
        color: $primary-text-color;
    }

    .icons{
        display: flex;
        gap: 10px;
        padding-right: 45px;

        button{
            background: none;
            border-style: none;
        }
    }

    .icons__main{
        display: none;
    }

    @media (max-width: 600px) {
        p{
            padding-left: 25px;
        }
        .icons{
            padding-right: 25px;
        }
        .icons__profile, .icons__wishlist, .icons__cart{
            display: none;
        }
        .icons__main{
            display: block;
        }
    }
}
