$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$extra-color: #FA9500;

$font-stack: "IBM Plex Sans", serif;
$paragraph: 1.3rem;

body{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
    font-size: 62.5%;
}

nav{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: $paragraph;
        padding-left: 55px;
        font-weight: 500;
        color: $primary-text-color;
    }

    .icons{
        display: flex;
        gap: 10px;
        padding-right: 55px;

        button{
            background: none;
            border-style: none;
        }
    }

    .icons__main{
        display: none;
    }

    @media (max-width: 650px) {
        p{
            padding-left: 35px;
        }
        .icons{
            padding-right: 35px;
        }
        .icons__profile, .icons__wishlist, .icons__cart{
            display: none;
        }
        .icons__main{
            display: block;
        }
    }
}

article{
    width: auto;
    height: auto;
    padding: 20px 55px;

    display: grid;
    grid-template-columns: repeat(2, 50%);

    color: $primary-text-color;

    h1{
        font-size: 2rem;
    }

    p{
        font-size: $paragraph;
        text-align: justify;
    }

    button{
        margin-top: 35px;
        padding: 12px 30px;
        border-style: none;
        border-radius: 20px;
        background-color: $extra-color;
        color: $primary-color;
        font-size: 1rem;
        font-weight: 600;
    }

    .image-section{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: end;
    }

    .image-section img{
        width: 75%;
        height: auto;

        justify-self: end;

        border-radius: 24px;
        object-fit: fill;
    }

    @media (max-width: 650px) {
        width: auto;
        padding: 0 35px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto; 

        .image-section{
            grid-row: 1;
            justify-content: center;
        }
        .image-section img{
            width: 100%;
        }

        .impact-section{
            grid-row: 2;
            margin-top: 20px;
            justify-items: center;
        }
        button{
            margin-top: 25px;
        }
    }
}

section{
    width: auto;
    height: auto;
    padding: 60px 55px 0;

    h2{
        color: $primary-text-color;
        font-size: 1.8rem;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .healtcare{
        width: auto;
        height: auto;

        .card-section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            column-gap: 85px;
            row-gap: 40px;

            margin: 40px 0 80px 0;

            .product{
                width: auto;
                height: auto;
                padding: 20px 20px;

                background-color: $secondary-color;
                border-radius: 12px;

                display: flex;
                flex-direction: column;

                color: $primary-text-color;

                .heart-icon{
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 8px;
                    padding-bottom: 8px;
                }

                img{
                    width: 100%;
                    height: 280px;
                    margin-top: 10px;
                    border-radius: 12px;
                    object-fit: fill;
                }
                h3{
                    font-size: 1.2rem;
                }
                p{
                    font-size: $paragraph;
                    text-align: justify;
                }
            }
        }
    }

    .furniture{
        @extend .healtcare;
        .card-section{
            .product{
                background-color: $tertiary-color;
                color: aliceblue;
            }
        }
    }
}